Exceptions/.NET/Airbrake.Web.Services.Protocols.SoapException/Connected Services/LibraryServiceReference/LibraryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LibraryService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LibraryService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InvalidBookFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidBookFault" nillable="true" type="tns:InvalidBookFault" />
</xs:schema>